
.idea/dbnavigator.xml
.idea/dbnavigator.xml
.idea/codeStyles/Project.xml
.idea/convid19.iml
.idea/dbnavigator.xml
src/CoronaIndiaScrap2DB.py
environment.properties
.DS_Store
src/CoronaIndiaScrap2DB.py
