
.gitignore
*.*
*.xml
*.pyc
*.iml
.idea/*
.idea/dbnavigator.xml
.idea/dbnavigator.xml
.idea/codeStyles/Project.xml
.idea/convid19.iml
.idea/dbnavigator.xml
.DS_Store
src/CoronaIndiaScrap2DB.py
environment.properties
src/CoronaIndiaScrap2DB.py
tests/html/index.html
.DS_Store
src/.DS_Store
